<nav>
  <% if(user) { %>
  <div class="landing-header">
    <div class="logo-container">
      <div class="ootd-icon"></div>
      <h1>What2Wear</h1>
    </div>
    <div class="nav-links">
      <a href="/wardrobe">Closet</a>
      <a href="/outfit">Build a Look</a>
      <a href="/auth/sign-out">Sign Out</a>
    </div>
  </div>

  <% } else { %>
  <div class="landing-header">
    <!-- <div class="logo-container">
      <div class="ootd-icon"></div>
      <h1>What2Wear</h1>
    </div>
    <div class="auth-links">
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </div>
  </div> -->
  <% } %>
  <div class="top-border"></div>
</nav>