<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="main-title">
    <p class="quote-small">It is a secret the stars alone hold that I kissed you in my dream.</p>
    
    <img src="../images/what2wear_logo.png" alt="what2wear_logo">
    
    <p class="quote-center">You personal digital wardrobe</p>
    
    <div class="heart-icon">♥</div>
    
    <div class="button-group">
        <button class="btn"><a href="/auth/sign-up">Sign-Up</a></button>
        <button class="btn"><a href="/auth/sign-in">Sign-In</a></button>
    </div>
    
    <div class="bottom-border"></div>
    <footer class="footer">Designed by icelee.Lzy</footer>
  </div>
</body>
</html>
