<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-container">
        <div>
            <h1>Add New Item!</h1>

            <form action="/wardrobe" method="POST">

                <label for="image"></label>
                <input type="image" src="" alt="">


            </form>
        </div>
    
    </div>
</body>
</html>